In [1]:
import pandas as pd
import numpy as np

# Veriyi okuyoruz (Ham veri seti)
# Not: Dosya yolunun '../Data_0/' şeklinde olduğundan emin ol.
df = pd.read_csv('../Data_0/Absenteeism_preprocessed.csv')

# Önemli!
# data_preprocessed ismini df'e eşitliyoruz.
data_preprocessed = df

# İlk kontrol: Verinin doğru yüklendiğini teyit ediyoruz
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create the Targets

In [2]:
median_value = df['Absenteeism Time in Hours'].median()
print(median_value)

3.0

In [3]:
import numpy as np

# 1. Eşik Değerin (Cutoff Line) Belirlenmesi
# Kodda '3' yazmıyoruz; çünkü 3, verinin medyanıdır. 
# Fonksiyon kullanarak kodu dinamik hale getiriyoruz.
median_value = df['Absenteeism Time in Hours'].median()

# 2. Hedef Değişkenlerin (Targets) Oluşturulması
# np.where tıpkı Excel'deki IF gibidir: (Şart, Doğruysa, Yanlışsa)
# Eğer bir çalışan medyandan (yani 3 saatten) FAZLA devamsızlık yaptıysa '1' (Aşırı),
# aksi takdirde '0' (Normal) değerini atıyoruz.
targets = np.where(df['Absenteeism Time in Hours'] > median_value, 1, 0)

# 3. Yeni Sütunun Veri Çerçevesine Eklenmesi
# Bu işlemle sürekli sayısal veriyi (continuous) ikili sınıfa (binary) dönüştürmüş olduk.
df['Excessive Absenteeism'] = targets

# 4. Kontrol (Checkpoint)
# İlk 5 satıra bakarak eşleşmeyi görelim
df[['Absenteeism Time in Hours', 'Excessive Absenteeism']].head()

   Absenteeism Time in Hours  Excessive Absenteeism
0                          4                      1
1                          0                      0
2                          2                      0
3                          4                      1
4                          2                      0

In [4]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [5]:
# 1'lerin oranını bulalım (Toplam 1 sayısı / Toplam Satır Sayısı)
# Sonucun 0.45 ile 0.55 arasında çıkması, modelin eğitimi için idealdir.
balance_check = targets.sum() / targets.shape[0]
print(f"Hedeflerin Dağılım Oranı: {balance_check:.2f}")

Hedeflerin Dağılım Oranı: 0.46

In [6]:
df['Excessive Absenteeism'] = targets

In [7]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [8]:
# 1'lerin toplamının tüm satırlara oranı

df['Excessive Absenteeism'].sum() / df.shape[0]

# Analiz: Eğer bu oran yaklaşık %46 ise (yani 0.46),
# bu durum yaklaşık %54'ün de "0" olduğu anlamına gelir. 
# genelde %45-%55 arası bir denge, 
# modelin bir sınıfı diğerine kayırmasını önlemek için mükemmeldir.

0.45571428571428574

In [9]:
# 1. Kaynağı kullanarak hedef değişken ve gereksiz sütunları düşürüyoruz
# teknik akışa uygun olarak 'axis=1' ile sütun bazlı temizlik yapıyoruz.
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours', 'Day of the Week', 
                                            'Daily Work Load Average', 'Distance to Work'], axis=1)

# 2. Teknik Kontrol: Nesne kimliği kontrolü
# Sonucun False çıkması, 'checkpoint' mantığıyla yeni bir bellek adresi oluşturduğumuzu kanıtlar.
print(f"data_with_targets is data_preprocessed: {data_with_targets is data_preprocessed}")

# 3. Boyut Kontrolü: Kaç sütun kaldığını teknik olarak doğrulayalım
print(f"Yeni Veri Boyutu: {data_with_targets.shape}")

# 4. Görsel Onay: İlk 5 satıra bakarak sütunların gittiğinden emin olalım
data_with_targets.head()

data_with_targets is data_preprocessed: False
Yeni Veri Boyutu: (700, 12)

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

## inputs for the regression

In [10]:
data_with_targets.shape

(700, 12)

In [11]:
data_with_targets.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet', 'Excessive Absenteeism'], dtype=object)

In [12]:
# Girdileri seçiyoruz
unscaled_inputs = data_with_targets.iloc[:, :-1]

# Şeklini kontrol edelim (Senin durumunda 700, 15 çıkmalı)
print(unscaled_inputs.shape)

(700, 11)

In [13]:
# Tüm satırları seç (:)
# Sütunlardan ise baştan başla ve en sondaki hedef sütununu hariç tut (:-1)
unscaled_inputs = data_with_targets.iloc[:, :-1]

# Sonucu kontrol edelim
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1

In [14]:
# Tüm satırları seç (:)
# Sütunlardan ise baştan başla ve en sondaki hedef sütununu hariç tut (:-1)
unscaled_inputs = data_with_targets.iloc[:, :-1]

# Sonucu kontrol edelim
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1

## standartise

In [15]:
from sklearn.preprocessing import StandardScaler
# Veri biliminde bir Kukla Değişkeni (Dummy Variable) standartlaştırmak, 
# onun tüm anlamını yitirmesine neden olur.
# Eğer bir kukla değişken 0 ve 1 olarak kalsaydı, 
# "Bu neden varsa devamsızlık olasılığı 7 kat artar" diyebilirdik.
# Ama onu standartlaştırdığımızda $-0.5$ ve $1.7$ gibi sayılara dönüştüğü için "1 birimlik artış" artık gerçek hayatta hiçbir şeye karşılık gelmez hale geldi.
# 1. Scaler nesnesini tanımla
absenteeism_scaler = StandardScaler()

In [16]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
import numpy as np

class CustomScaler(BaseEstimator, TransformerMixin): 
    
    # parametrelerle __init__ metodu
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        # StandardScaler'a bu parametreleri paslıyoruz
        self.scaler = StandardScaler(copy=copy, with_mean=with_mean, with_std=with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    # Eğitme metodu, fit metodu 'Future warnings'! ten sonra böyle değişmiştir:
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns], axis=0) # axis=0 eklendi
        self.var_ = np.var(X[self.columns], axis=0)   # axis=0 eklendi
        return self

    # Dönüştürme metodu
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        # Sadece seçtiğimiz sütunları ölçeklendiriyoruz
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        # Seçilmeyen (Dummy) sütunları olduğu gibi bırakıyoruz
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        # Her iki parçayı birleştirip orijinal sütun sırasına diziyoruz
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [17]:
# Tüm sütun isimlerine bakalım
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [18]:
    # Ölçeklemek İSTEDİĞİMİZ sütunları seçiyoruz (Dummies ve Education hariç)
    #columns_to_scale = [#'Month Value', 'Day of the Week', 'Transportation Expense', 'Distance to Work', 'Age', 'Daily Work Load Average',  'Body Mass Index', 'Children', 'Pet'#]

# 1. Ölçekleme dışı bırakılacak (kategorik) sütunları tanımlıyoruz
# Not: 'Education' ve Dummy (Reason) değişkenleri ölçeklenmemeli.
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

# 2. Ölçeklenecek sütunları List Comprehension ile dinamik olarak belirliyoruz
# Bu yapı, unscaled_inputs içindeki tüm sütunlara bakar ve omit listesinde olmayanları seçer.
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

# 3. Teknik Kontrol: Hangi sütunların seçildiğini görelim
print("Ölçeklenecek Sütunlar:", columns_to_scale)

Ölçeklenecek Sütunlar: ['Month Value', 'Transportation Expense', 'Age', 'Body Mass Index', 'Children', 'Pet']

In [19]:
# Custom Scaler nesnemizi sadece bu sütunlarla eğitiyoruz
absenteeism_scaler = CustomScaler(columns_to_scale)

In [20]:
absenteeism_scaler = CustomScaler(columns_to_scale)
absenteeism_scaler.fit(unscaled_inputs)

# Veriyi dönüştürelim
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

# Kontrol: Şimdi dummy sütunlarının (0, 1) bozulmadığını göreceksin
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.030796,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.030796,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.568019,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.568019,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.568019,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.568019,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.568019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [21]:
# 3. Veriyi dönüştür ve hafızaya kaydet
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [22]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.030796,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.030796,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.568019,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.568019,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.568019,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.568019,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.568019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [23]:
# 4. Kontrol: Şekli şimdi 700, 14 olmalı
print(scaled_inputs.shape)

(700, 11)

## train & test

In [24]:
# 1. Gerekli kütüphaneyi içe aktarıyoruz
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(525, 11) (525,)
(175, 11) (175,)

In [25]:
# 2. Veriyi bölüyoruz
# inputs: scaled_inputs (700, 14)
# targets: targets (700,)
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, 
                                                    train_size = 0.8, 
                                                    random_state = 20, 
                                                    shuffle = True)

# 3. Şekilleri (Shapes) kontrol edelim
print("Eğitim Girdileri:", x_train.shape, "Eğitim Hedefleri:", y_train.shape)
print("Test Girdileri:", x_test.shape, "Test Hedefleri:", y_test.shape)

Eğitim Girdileri: (560, 11) Eğitim Hedefleri: (560,)
Test Girdileri: (140, 11) Test Hedefleri: (140,)

In [26]:
# 1. Gerekli kütüphaneleri içe aktaralım
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# 2. Modeli tanımlayalım (Sadece boş bir nesne oluşturuyoruz)
reg = LogisticRegression()

# 3. Modeli eğitelim (Fit işlemi)
# İşte burada modelimiz x_train'deki ipuçları ile y_train'deki sonuçlar arasındaki ilişkiyi öğreniyor.
reg.fit(x_train, y_train)

# 4. Modelin eğitim verisi üzerindeki skorunu (doğruluk oranını) görelim
reg.score(x_train, y_train)

0.7767857142857143

In [27]:
# Modelin otomatik skorunu alalım
accuracy_score = reg.score(x_train, y_train)
print(f"Model Doğruluk Oranı: {accuracy_score}")

Model Doğruluk Oranı: 0.7767857142857143

In [28]:
import numpy as np

# 1. Tahminleri alıyoruz
model_outputs = reg.predict(x_train)

# 2. Tahminler ile gerçekleri karşılaştırıyoruz (True/False dizisi)
comparisons = (model_outputs == y_train)

# 3. Manuel skoru hesaplıyoruz (Doğru sayısını toplam sayıya bölüyoruz)
manual_accuracy = np.sum(comparisons) / comparisons.shape[0]

print(f"Manuel Hesaplanan Doğruluk: {manual_accuracy}")

Manuel Hesaplanan Doğruluk: 0.7767857142857143

## intercept & coefficients

In [29]:
# Intercept (Sabit)
reg.intercept_

array([-1.61205882])

In [30]:
# Coefficients (Katsayılar)
reg.coef_

array([[ 2.77145295,  0.93066915,  3.09778986,  0.81095274,  0.00784338,
         0.62550881, -0.17366788,  0.28863529, -0.23759979,  0.35765422,
        -0.27359133]])

In [31]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [32]:
feature_name = unscaled_inputs.columns.values

In [33]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_) 
# tüm değişkenler ve buna karşılık gelen katsayılar
summary_table

              Feature name  Coefficient
0                 Reason_1     2.771453
1                 Reason_2     0.930669
2                 Reason_3     3.097790
3                 Reason_4     0.810953
4              Month Value     0.007843
5   Transportation Expense     0.625509
6                      Age    -0.173668
7          Body Mass Index     0.288635
8                Education    -0.237600
9                 Children     0.357654
10                     Pet    -0.273591

In [34]:
import pandas as pd
import numpy as np

# Tabloyu her seferinde sıfırdan oluştur (İndeks kaymasını önler)
# unscaled_inputs.columns.values ifadesi bize 14 değişkenin adını verir.
feature_name = unscaled_inputs.columns.values
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)

# Katsayıları (Weights) ekle
# reg.coef_ (1, 14) boyutunda olduğu için transpose (devriğini) alıyoruz.
summary_table['Coefficient'] = np.transpose(reg.coef_)

# İndeksi manipüle etmeden önce temiz bir kopyasını al
# Bu satır, hücreyi 100 kere de çalıştırsan indeksin hep 1'den başlamasını sağlar
summary_table.index = summary_table.index + 1

# Intercept (Bias) değerini en başa (0. indekse) ekle
# reg.intercept_[0] bize o tekil sabit sayıyı verir.
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

# Tabloyu indekse göre sırala ve Odds Ratio hesapla
summary_table = summary_table.sort_index()
summary_table['Odds ratio'] = np.exp(summary_table.Coefficient)

# Kusursuz 15 satırlık (14 feature + 1 intercept) özet tablo
summary_table

              Feature name  Coefficient  Odds ratio
0                Intercept    -1.612059    0.199477
1                 Reason_1     2.771453   15.981838
2                 Reason_2     0.930669    2.536206
3                 Reason_3     3.097790   22.148945
4                 Reason_4     0.810953    2.250051
5              Month Value     0.007843    1.007874
6   Transportation Expense     0.625509    1.869197
7                      Age    -0.173668    0.840576
8          Body Mass Index     0.288635    1.334605
9                Education    -0.237600    0.788518
10                Children     0.357654    1.429971
11                     Pet    -0.273591    0.760643

## Testing the Model

In [35]:
reg.score(x_train, y_train)

0.7767857142857143

In [36]:
# 1. Test skorumuzu alalım 
test_score = reg.score(x_test, y_test)
print(f"Test Seti Doğruluğu: {test_score}")

# 2. Olasılıkları tahmin edelim
# predicted_proba çıktısı iki sütunludur: [0 olma olasılığı, 1 olma olasılığı]
predicted_proba = reg.predict_proba(x_test)

# 3. Sadece '1' (Aşırı Devamsızlık) olma olasılıklarını çekelim
# [:, 1] ifadesi tüm satırları ve 1. indeksteki (ikinci) sütunu al demektir
absenteeism_probabilities = predicted_proba[:, 1]

predicted_proba.shape

# Sonuçları inceleyelim
print(absenteeism_probabilities[:10])

Test Seti Doğruluğu: 0.7357142857142858
[0.24525519 0.39078401 0.51691059 0.24222508 0.91625757 0.69423235
 0.695653   0.88406355 0.25971216 0.24395344]

## save the model

In [37]:
import pickle

# 1. Eğitilmiş Lojistik Regresyon Modelini Kaydetme
# 'wb' -> write binary (ikili formatta yaz)
with open('model', 'wb') as file:
    pickle.dump(reg, file)

# 2. Ölçekleyiciyi (Scaler) Kaydetme
# Bu nesne, yeni verileri aynı istatistiksel kurallarla (mean, std) düzeltmek için şarttır.
with open('scaler', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)